---
title: Wolves of analytics
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- hero (start) -->
<section class="b-hero b-pictures text-center">
  <div class="container b-pictures__rel">
    <h1 class="b-title">Build with us<span class="b-dot"></span></h1>
    <p class="lead">
      We’re here for you to lead your online business through facts
    </p>
    <a href="#services" class="btn btn-secondary mt-4 js-anchor">
      Learn more <svg class="b-btn-icon" width="17" height="16"><use xlink:href="/icons/sprite.svg#icon-arrow"></use></svg>
    </a>
  </div>
  <div class="b-pictures__box">
    <div class="b-pictures__item b-pictures__item_left">

      <svg class="b-pictures__svg b-shape b-shape_left b-shape_hidden" height="268" viewBox="0 0 310 268" width="310" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g class="b-shape__box">
          <g class="b-shape__item b-shape__item_l1">
            <rect height="24" rx="12" width="24" x="32" y="11"/>
          </g>
          <g class="b-shape__item b-shape__item_l2">
            <rect height="49" opacity=".2" rx="24.5" width="133" x="80"/>
          </g>
          <g class="b-shape__item b-shape__item_l3">
            <rect height="49" rx="24.5" width="133" x="-53" y="73"/>
          </g>
          <g class="b-shape__item b-shape__item_l4">
            <rect height="49" opacity=".5" rx="24.5" width="49" x="104" y="73"/>
          </g>
          <g class="b-shape__item b-shape__item_l5">
            <rect height="49" rx="24.5" width="133" x="177" y="73"/>
          </g>
          <g class="b-shape__item b-shape__item_l6">
            <rect height="24" opacity=".5" rx="12" width="24" x="-12" y="157"/>
          </g>
          <g class="b-shape__item b-shape__item_l7">
            <rect height="49" rx="24.5" width="125" x="36" y="146" opacity=".7"/>
          </g>
          <g class="b-shape__item b-shape__item_l8">
            <rect height="24" rx="12" width="24" x="185" y="159"/>
          </g>
          <g class="b-shape__item b-shape__item_l9">
            <rect height="49" opacity=".2" rx="24.5" width="49" x="16" y="219"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="b-pictures__item b-pictures__item_right">
      <svg class="b-pictures__svg b-shape b-shape_right b-shape_hidden" enable-background="new 0 0 336 283" height="283" viewBox="0 0 336 283" width="336" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g class="b-shape__box">
          <g class="b-shape__item b-shape__item_r1">
            <path d="m292 0c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12-6.627 0-12-5.373-12-12 0-6.627 5.373-12 12-12z"/>
          </g>
          <g class="b-shape__item b-shape__item_r2">
            <path d="m37.5 48h48c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5h-48c-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z"/>
          </g>
          <g class="b-shape__item b-shape__item_r3">
            <path d="m146 60c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12-6.627 0-12-5.373-12-12 0-6.627 5.373-12 12-12z" opacity=".2"/>
          </g>
          <g class="b-shape__item b-shape__item_r4">
            <path d="m206.5 48c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z"/>
          </g>
          <g class="b-shape__item b-shape__item_r5">
            <path d="m279.5 48h48c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5h-48c-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z" opacity=".7"/>
          </g>
          <g class="b-shape__item b-shape__item_r6">
            <path d="m24.5 117c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z"/>
          </g>
          <g class="b-shape__item b-shape__item_r7">
            <path d="m97.5 117h140c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5h-140c-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z" opacity=".7"/>
          </g>
          <g class="b-shape__item b-shape__item_r8">
            <path d="m298 130c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12-6.627 0-12-5.373-12-12 0-6.627 5.373-12 12-12z" opacity=".2"/>
          </g>
          <g class="b-shape__item b-shape__item_r9">
            <path d="m86 200c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12-6.627 0-12-5.373-12-12 0-6.627 5.373-12 12-12z" opacity=".1"/>
          </g>
          <g class="b-shape__item b-shape__item_r10">
            <path d="m146.5 186h106c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5h-106c-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z" opacity=".2"/>
          </g>
          <g class="b-shape__item b-shape__item_r11">
            <path d="m252.5 186c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z"/>
          </g>
          <g class="b-shape__item b-shape__item_r12">
            <path d="m252.5 186h106c13.531 0 24.5 10.969 24.5 24.5 0 13.531-10.969 24.5-24.5 24.5h-106c-13.531 0-24.5-10.969-24.5-24.5 0-13.531 10.969-24.5 24.5-24.5z" opacity=".7"/>
          </g>
          <g class="b-shape__item b-shape__item_r13">
            <path d="m291 259c6.627 0 12 5.373 12 12 0 6.627-5.373 12-12 12-6.627 0-12-5.373-12-12 0-6.627 5.373-12 12-12z"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
</section>
<!-- hero (end) -->

<!-- Services (start) -->
<section id="services" class="b-section container">
  <div class="b-sep">
    <div class="b-sep__side">
      <h2>Services</h2>
    </div>
    <div class="b-sep__base">
      <div class="b-text-gray">
        <h3>We create digital experiences that transform businesses</h3>
        <p>
          We drive change for the largest enterprises and brands in the Nordics by building and running
          their Digital Growth Engines, which is our offering and systematic approach to creating digital growth.
        </p>
        <p>
          We help companies become customer-centric by combining capabilities within business transformation,
          service design, technology, data driven marketing and content.
        </p>
      </div>
      <h3 class="mt-5 mb-5 mt-sm-6 mb-sm-6">EXPERTISE</h3>
      <div class="row row-cols-md-2 row-cols-1">
        <div class="col mb-4">
          <div class="b-badge">
            <svg class="b-badge__icon" width="22" height="34"><use xlink:href="/icons/sprite.svg#icon-strategy"></use></svg>
          </div>
          <h4>Strategy</h4>
          <ul class="b-list list-unstyled">
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Analytics and Data strategy
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                SEO strategy
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Digital Marketing strategy
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                eCommerce & funnels
              </div>
            </li>
          </ul>
        </div>
        <div class="col mb-4">
          <div class="b-badge">
            <svg class="b-badge__icon" width="34" height="34"><use xlink:href="/icons/sprite.svg#icon-setup"></use></svg>
          </div>
          <h4>Execution & Setup</h4>
          <ul class="b-list list-unstyled">
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Digital Analytics setup
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Targeted remarketing
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Digital Data validation
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Conversion Optimization & Testing
              </div>
            </li>
          </ul>
        </div>
        <div class="col mb-4">
          <div class="b-badge">
            <svg class="b-badge__icon" width="26" height="32"><use xlink:href="/icons/sprite.svg#icon-audits"></use></svg>
          </div>
          <h4>Audits & Reporting</h4>
          <ul class="b-list list-unstyled">
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Analytics Audits / Healthchecks
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Technical SEO Audit
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Data Analysis Services
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Reporting, BI & Data Visualization
              </div>
            </li>
          </ul>
        </div>
        <div class="col mb-4">
          <div class="b-badge">
            <svg class="b-badge__icon" width="32" height="31"><use xlink:href="/icons/sprite.svg#icon-knowledge"></use></svg>
          </div>
          <h4>Knowledge sharing</h4>
          <ul class="b-list list-unstyled">
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Google & Facebook Analytics trainings
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Google Tag Management technical trainings
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                Data visualisation trainings
              </div>
            </li>
            <li class="b-list__item">
              <div class="b-list__icon-wrap">
                <svg class="b-list__icon" width="9" height="15"><use xlink:href="/icons/sprite.svg#icon-arrow-small"></use></svg>
              </div>
              <div class="b-list__text">
                SEO trainings and consultation
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center text-sm-left mt-n2">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#getInTouchModal">
          MORE ABOUT SERVICES <svg class="b-btn-icon" width="17" height="16"><use xlink:href="/icons/sprite.svg#icon-arrow"></use></svg>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Services (end) -->

<!-- Clients (start) -->
<section class="b-section b-section_pb_small bg-light">
  <div class="container">
    <div class="b-sep">
      <div class="b-sep__side">
        <h2 class="ml-lg-n3">Clients</h2>
      </div>
      <div class="b-sep__base">
        <div id="blockquoteSlider" class="carousel slide b-carousel" data-interval="0" data-touch="false">
          <svg class="b-quote b-quote_start" width="64" height="52"><use xlink:href="/icons/sprite.svg#icon-quote"></use></svg>
          <ol class="carousel-indicators">
            <li data-target="#blockquoteSlider" data-slide-to="0" class="active"></li>
            <li data-target="#blockquoteSlider" data-slide-to="1"></li>
            <li data-target="#blockquoteSlider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              {{ quote('I am product obsessive and feel at home when I am working with t','Shantanu Narayen','CEO at Adobe')}}
            </div>
            <div class="carousel-item">
              {{ quote('I am product obsessive and feel at home when I am working with tI am product obsessive and feel at home when I am working with tI am product obsessive and feel at home when I am working with the Wolves.','Shantanu Narayen','CEO at Adobe')}}
            </div>
            <div class="carousel-item">
              {{ quote('I am product obsessive and feel at home when I am working with the Wolves. When we focus our energy and collective resources and expertise, anything is possible.','Shantanu Narayen','CEO at Adobe')}}
            </div>
          </div>
          <a class="carousel-control-prev" href="#blockquoteSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#blockquoteSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Clients (end) -->

<!-- About us (start) -->
<section id="about-us" class="b-section b-section_pt_small b-section_pb_0 b-cover">
  <div class="container b-cover__content">
    <div class="b-sep">
      <div class="b-sep__side">
        <h2>About us</h2>
      </div>
      <div class="b-sep__base">
        <div class="b-text-gray">
          <h3>We are the heroes of our time</h3>
          <p>
            We help companies become customer-centric by combining capabilities within business
            transformation, service design, technology, data driven marketing and content.
          </p>
        </div>
        <div class="mt-5 mt-sm-6 text-center text-sm-left">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#getInTouchModal">
            MORE ABOUT US <svg class="b-btn-icon" width="17" height="16"><use xlink:href="/icons/sprite.svg#icon-arrow"></use></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <picture>
    <source data-srcset="
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_scale,f_auto,fl_lossy,q_94,w_1749/v1583343166/bg-dark_ccpca8.jpg,
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_94,w_1749/v1583343166/bg-dark_ccpca8.jpg 2x"
            media="(min-width: 1281px)">
    <source data-srcset="
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_fill,f_auto,fl_lossy,q_94,g_center,h_1104,w_1280,x_0,z_1/v1583343166/bg-dark_ccpca8.jpg,
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_fill,dpr_2.0,f_auto,fl_lossy,q_94,g_center,h_1104,w_1280,x_0,z_1/v1583343166/bg-dark_ccpca8.jpg"
            media="(min-width: 481px) and (max-width: 1280px)">
    <source data-srcset="
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_fill,f_auto,fl_lossy,g_center,q_94,h_1104,w_480,x_0,z_1/v1583343166/bg-dark_ccpca8.jpg,
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_fill,dpr_2.0,f_auto,fl_lossy,g_center,q_85,h_1104,w_480,x_0,z_1/v1583343166/bg-dark_ccpca8.jpg 2x"
            media="(max-width: 480px)">
    <img class="b-cover__bg lazyload" data-srcset="
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_scale,f_auto,fl_lossy,q_94,w_1749/v1583343166/bg-dark_ccpca8.jpg,
    https://res.cloudinary.com/wolves-of-analytics-o/image/upload/c_scale,dpr_2.0,f_auto,fl_lossy,q_94,w_1749/v1583343166/bg-dark_ccpca8.jpg 2x" alt="">
  </picture>
  <div class="b-cover__img-wrap">
    <picture>
      <source data-srcset="
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/f_auto,fl_lossy,q_auto:best,w_708/v1583341253/team_t7z7kf.png,
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/dpr_2.0,f_auto,fl_lossy,q_auto:best,w_708/v1583341253/team_t7z7kf.png 2x"
              media="(min-width: 768px)">
      <source data-srcset="
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/f_auto,fl_lossy,q_auto:best,w_530/v1583341253/team_t7z7kf.png,
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/dpr_2.0,f_auto,fl_lossy,q_auto:best,w_530/v1583341253/team_t7z7kf.png 2x"
              media="(min-width: 576px) and (max-width: 767px)">
      <source data-srcset="
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/f_auto,fl_lossy,q_auto:best,w_450/v1583341253/team_t7z7kf.png,
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/dpr_2.0,f_auto,fl_lossy,q_auto:best,w_450/v1583341253/team_t7z7kf.png 2x"
              media="(max-width: 575px)">
      <img class="b-cover__img lazyload" data-srcset="
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/f_auto,fl_lossy,q_auto:best,w_708/v1583341253/team_t7z7kf.png,
      https://res.cloudinary.com/wolves-of-analytics-o/image/upload/dpr_2.0,f_auto,fl_lossy,q_auto:best,w_708/v1583341253/team_t7z7kf.png 2x" alt="">
    </picture>
  </div>
</section>
<!-- About us (end) -->

{% endblock %}