<footer class="b-footer">
  <div class="container">
    <div class="d-sm-flex justify-content-between align-items-end text-center text-sm-left">
      <div class="b-footer__side">
        <div class="b-social">
          <a href="#" class="b-social__item" title="LinkedIn">
            <svg class="b-social__icon" width="16" height="16"><use xlink:href="/icons/sprite.svg#icon-linkedin"></use></svg>
          </a>
          <a href="#" class="b-social__item" title="Facebook">
            <svg class="b-social__icon" width="8" height="17"><use xlink:href="/icons/sprite.svg#icon-facebook"></use></svg>
          </a>
          <a href="#" class="b-social__item" title="Twitter">
            <svg class="b-social__icon" width="16" height="13"><use xlink:href="/icons/sprite.svg#icon-twitter"></use></svg>
          </a>
        </div>
        <div class="b-footer__info">
          Wolves of Analytics OÜ <br>
          Tallinn, Estonia <br>
          Business ID: 14228296
        </div>
      </div>
      <div class="text-sm-right">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#getInTouchModal">
          Get in touch <svg class="b-btn-icon" width="17" height="16"><use xlink:href="/icons/sprite.svg#icon-arrow"></use></svg>
        </button>
        <div class="b-footer__small">
          <button class="b-link" type="button" data-toggle="modal" data-target="#policyModal">Privacy Policy</button>
        </div>
      </div>
    </div>
  </div>
</footer>

